* {
    margin: 0;
    padding: 0;
}

/* Banner Section Style */
.banner-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    height: 800px;
    background-color: rgba(229, 84, 115, 0.10);
}

.title-one {
    color: #272727;
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    font-weight: 695px;
    width: 600px;
    flex-direction: column;
}

.para-one {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 634px;
    flex-direction: column;
}

.bnr-pic {
    width: 635px;
    height: 750px;
    margin-top: 50px;
    margin-right: 150px;
}

.text-area-header {
    margin-left: 150px;
}

.btn-primary {
    border: none;
    border-radius: 8px;
    color: white;
    background: #E55473;
    display: inline-flex;
    padding: 20px 43px;
    font-size: 18px;
}

.title-one,
.para-one,
.btn-primary {
    margin-bottom: 25px;
}


.featured-header {
    color: #272727;
    text-align: center;
    margin-top: 150px;
}

.featured-header {
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    font-weight: 800;
}

.featured-para {
    color: #272727;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    line-height: 30px;
}

/* Pink flower tree section */

.pink-flowers {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 45px 350px 20px 350px;
}

.pink-one-container {
    width: 350px;
    height: 390px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.pink-one {
    width: 220px;
    height: 308px;
    margin: 82px 0px 0px 65px;
}

.pink-two-container {
    width: 350px;
    height: 390px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.pink-two {
    width: 250px;
    height: 308px;
    margin: 82px 0px 0px 65px;
}

.pink-three-container {
    width: 350px;
    height: 390px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.pink-three {
    width: 205px;
    height: 340px;
    margin: 50px 0px 0px 70px;
}

.underline {
    display: flex;
    justify-content: space-between;
    margin: 0px 470px 100px 470px;
}




/* Hot Deal Banner Section */
.hot-deal-banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    height: 550px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}

span {
    color: #E55473;
}

.hot-deal-header {
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 30px;
}

.hot-deal-para {
    display: flex;
    width: 594px;
    flex-direction: column;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

.hot-deal-text {
    text-align: center;
    margin-top: 80px;
    margin-left: 300px;
}

.rose {
    margin-right: 300px;
    width: auto;
    height: 400px;
}


.insta-pics {
    display: flex;
    justify-content: space-around;
    margin: 35px 350px 45px 350px;
}

.flower {
    width: auto;
    height: 300px;

}

.insta-text {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 20px;
}

.insta-header {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: 800;
}

.insta-para {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}


/* Latest Deal */

.latest-deal-container {
    background-image: url('./images/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-size: 1080px 410px;
    width: auto;
    height: 390px;
    border-radius: 8px;
    margin: 100px 0px 20px 360px;
    padding-top: 150px;
}

#latest-inpt {
    padding: 10px;
    width: 480px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FFF;
    margin: 10px 10px 0px 230px;
    border: none;
}

.latest-deal-header {
    font-family: 'Open Sans', sans-serif;
    color: #272727;
    font-size: 28px;
    font-weight: 800;
    margin: 10px 0px 10px 358px;
}

.latest-deal-para {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 10px 0px 20px 400px;
}

.btn-primary-last {
    border: none;
    border-radius: 8px;
    color: white;
    background: #E55473;
    display: inline-flex;
    padding: 15px 23px;
    font-size: 18px;
}

/* Footer Section Style */

.ftr-main {
    background: #111010;
    width: 100%;
    height: 350px;
}

.ftr-header,
.ftr-para-one,
.ftr-para-two {
    color: white;

}

.ftr-header {
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 20px;
}

.footer-container {
    padding-top: 150px;
    text-align: center;
}

.ftr-para-one{
    margin-bottom: 18px;
}
.ftr-para-two{
    color: rgba(255, 255, 255, 0.40);
}